# generated: 2026-07-21
# method: derived
# source: https://github.com/shapesinc/shapes-api (README, commit 2786db30ef2c, pre-deprecation) + https://api.shapes.inc/v1/models (live 200)
# note: The Shapes developer API was deprecated 2025-09-25. This spec is a faithful derivation of the
#       two endpoints documented in the official shapes-api repo README; it is NOT an official published spec.
openapi: 3.0.3
info:
  title: Shapes API
  version: '1.0'
  description: >-
    OpenAI-compatible API for Shapes, general-purpose social AI agents (characters) with rich
    personalities and short-term plus long-term memory. Chat completions run a named Shape as the model
    (shapesinc/<shape-username>) across 50+ text, image, and voice models. NOTE: the developer API was
    deprecated on 2025-09-25; Shapes remains available as a consumer product at https://shapes.inc.
  contact:
    name: Shapes, Inc. Support
    url: https://talk.shapes.inc/support
  license:
    name: See repository license
    url: https://github.com/shapesinc/shapes-api/blob/main/license
servers:
  - url: https://api.shapes.inc
    description: Shapes API production host
externalDocs:
  description: Shapes API repository (deprecated)
  url: https://github.com/shapesinc/shapes-api
paths:
  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      summary: Create a chat completion with a Shape
      description: >-
        OpenAI-compatible chat completion. The `model` field selects the Shape as
        `shapesinc/<shape-username>`. Supports text plus a single `image_url` or `audio_url` content part.
        Streaming, system messages, message history, and parameter control (e.g. temperature) are not
        supported; personality and settings come from the Shape's shapes.inc configuration.
      security:
        - bearerAuth: []
      parameters:
        - name: X-User-Id
          in: header
          required: false
          description: End-user identifier; isolates conversation context and memory per user.
          schema:
            type: string
        - name: X-Channel-Id
          in: header
          required: false
          description: Conversation/channel context identifier for multi-conversation apps.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: OpenAI-compatible chat completion response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '401':
          description: Missing or invalid API key.
        '429':
          description: Rate limit exceeded (default 20 requests per minute).
  /shapes/public/{username}:
    get:
      operationId: getPublicShape
      summary: Get public Shape profile
      description: Retrieve detailed public profile information about a Shape by username. No authentication required.
      parameters:
        - name: username
          in: path
          required: true
          description: The Shape's unique username (e.g. `tenshi`).
          schema:
            type: string
      responses:
        '200':
          description: Public Shape profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShapeProfile'
        '404':
          description: Shape not found.
  /v1/models:
    get:
      operationId: listModels
      summary: List available models (Shapes)
      description: OpenAI-compatible models listing. Requires authentication.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of available models.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "API key issued at https://shapes.inc/developer, sent as `Authorization: Bearer <API-key>`."
  schemas:
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          description: Shape model in the form `shapesinc/<shape-username>`.
          example: shapesinc/tenshi
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
    Message:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [user, assistant]
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ContentPart'
    ContentPart:
      type: object
      properties:
        type:
          type: string
          enum: [text, image_url, audio_url]
        text:
          type: string
        image_url:
          type: object
          properties:
            url:
              type: string
              format: uri
        audio_url:
          type: object
          properties:
            url:
              type: string
              format: uri
    ChatCompletionResponse:
      type: object
      description: Standard OpenAI-compatible chat completion object.
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: '#/components/schemas/Message'
              finish_reason:
                type: string
    ShapeProfile:
      type: object
      description: Public profile of a Shape (fields per official documentation).
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        username:
          type: string
        search_description:
          type: string
        search_tags_v2:
          type: array
          items:
            type: string
        created_ts:
          type: integer
        user_count:
          type: integer
        message_count:
          type: integer
        tagline:
          type: string
        typical_phrases:
          type: array
          items:
            type: string
        screenshots:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              url:
                type: string
              caption:
                type: string
        category:
          type: string
        character_universe:
          type: string
        character_background:
          type: string
        avatar_url:
          type: string
        avatar:
          type: string
        banner:
          type: string
        shape_settings:
          type: object
          properties:
            shape_initial_message:
              type: string
            status_type:
              type: string
            status:
              type: string
            appearance:
              type: string
        example_prompts:
          type: array
          items:
            type: string
        enabled:
          type: boolean
        allow_user_engine_override:
          type: boolean
        error_message:
          type: string
        wack_message:
          type: string
